<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899030552506-9g6k7bcvv1fdlbdgkbh4msioscdp3t8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899030552506-9g6k7bcvv1fdlbdgkbh4msioscdp3t8q</string>
	<key>API_KEY</key>
	<string>AIzaSyCxkMuAKGuMUbeE1wFWn1i_CxoKAGyFUd0</string>
	<key>GCM_SENDER_ID</key>
	<string>899030552506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dz.goudjal.dzpos</string>
	<key>PROJECT_ID</key>
	<string>dzpos-9d561</string>
	<key>STORAGE_BUCKET</key>
	<string>dzpos-9d561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899030552506:ios:1e2265b12803d3a6f3d783</string>
</dict>
</plist>